:root {
  --main-title-color: #f05f5a;
  --main-text-color: #263a46;
  --shape-background-color: #eff0ea;
  --card-background-color: #f9faf4;
  --main-theme-color: #ffe263;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  /* does not work here because I change the background on the div, the the p elements inside the div are set
    to the defined background color too.
  */
  /* background-color: var(--main-theme-color); */
}

body {
  background-color: var(--main-theme-color);
}

#app {
  position: relative;
}

.header {
  position: relative;
  z-index: 50;
  height: 25vh;
  padding: 16px;
}

.header-shape-block {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -10px;
  left: 0;
  background-color: var(--shape-background-color);
  z-index: -1;
  transform: rotate(-18deg);
  scale: 2;
  clip-path: polygon(100% 0%, 100% 100%, 0% 0%);
}

.main-title {
  font-size: 3rem;
  color: var(--main-title-color);
}

.main-description-text {
  & .description-text {
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 4px;
  }
}

.main-section {
  position: relative;
  z-index: 50;
  width: 100vw;
  padding-bottom: 1rem;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design-link {
  text-decoration: none;
}

.project-card {
  width: 90vw;
  display: grid;
  gap: 2px;
  padding: 8px;
  grid-template-columns: 1fr;
  height: auto;
  background-color: var(--card-background-color);
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 5px 5px 9px -3px #8e878a;

  & > p {
    margin: 16px 0px 8px 8px;
    color: var(--main-text-color);
  }

  & .title {
    font-size: 2rem;
    color: var(--main-title-color);
  }

  & .description {
    font-size: 1rem;
    /* specify the max width of the text to 70 characters */
    max-width: 70ch;
  }

  & .pattern-image > img {
    aspect-ratio: 1 / 0.5;
    max-width: 95%;
    /* display: block; */
    object-fit: fill;
    margin: 16px 2px 8px 8px;
  }
}

.project-card:hover {
  box-shadow: 5px 5px 4px -3px #8e878a;
}

@media screen and (min-width: 720px) {
  .project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    & .title {
      grid-area: 1 / 2 / 2 / 2;
    }

    & .description {
      grid-area: 2 / 2 / 3 / 2;
    }

    & .date {
      grid-area: 3 / 2 / 4 / 2;
    }

    & .pattern-image {
      display: inherit;
    }

    & .pattern-image > img {
      /* display: grid; */
      grid-area: 1 / 1 / 4 / 1;
      /* object-fit: fill; */
    }
  }
}

/* Some colors here to experiment with the page */
/* 

c1: 000000
c2: 14213d
c3: fca311
c4: e5e5e5
c5: ffffff

*/
